body
  margin: 0
  background-color: black
  font-family: -apple-system, BlinkMacSystemFont, sans-serif

.toggle-wrapper
  width: 48vw
  height: 48vw
  position: relative
  background-color: rgba(49, 51, 55, 0.7)
  margin: 1vw
  border-radius: 3px
  text-align: center

.grid
  display: grid
  grid-template-columns: 50% 50%
  grid-template-rows: 50% 50%

.cdk-visually-hidden
  visibility: hidden
