body
  background-color: rgba(0, 0, 0, 0.8)

.switch
  width: 96%
  height: 180px
  background-color: rgba(0, 0, 0, 0.63)
  border-radius: 20px
  margin: 2%

.switch:active
  transition: 80ms
  transition-timing-function: ease-in-out
  background-color: rgba(0, 0, 0, 0.30)

.icon
  position: relative
  top: 20%
  left: 20%
  width: 60%
  height: 60%

.icon--light
  @extend .icon

.icon--clock
  @extend .icon

.icon--lock
  @extend .icon

.icon--blinds
  @extend .icon

.icon--music
  @extend .icon

.icon--settings
  @extend .icon
