@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'

body
  background-color: rgba(0, 0, 0, 0.8)
  overflow: hidden
  margin: 0
  padding: 0
  position: fixed

.switch
  width: calc((80vh - 32px) / 3)
  height: calc((80vh - 32px) / 3)
  background-color: rgba(0, 0, 0, 0.63)
  border-radius: 20px
  position: relative
  margin: 8px

.switch:active
  transition: 80ms
  transition-timing-function: ease-in-out
  background-color: rgba(0, 0, 0, 0.30)

.switch-light
  @extend .switch
  left: calc((100vw - (((80vh - 32px) / 3) + 16px)) / 2)

.switch-lock
  @extend .switch
  left: calc((100vw - ((80vh - 32px) / 3)) / 2)
  top: calc((80vh - ((80vh - 32px) / 3)) / 2)

.icon
  position: absolute
  height: calc(((80vh - 32px) / 3) * 0.6)
  width: calc(((80vh - 32px) / 3) * 0.6)
  top: calc((((80vh - 32px) / 3) - (((80vh - 32px) / 3) * 0.6)) / 2)
  left: calc((((80vh - 32px) / 3) - (((80vh - 32px) / 3) * 0.6)) / 2)

.icon--light
  @extend .icon

.icon--clock
  @extend .icon

.icon--lock
  @extend .icon

.icon--nightmode
  @extend .icon
