::ng-deep
  //<--------------------HEIGHT-------------------->
  .mat-slider-vertical
    height: 100%

  .mat-slider-vertical .mat-slider-track-background
    transform: none !important
    bottom: -1px !important

  //<--------------------WIDTH-------------------->
  .mat-slider-vertical .mat-slider-wrapper
    width: 100% !important
    left: 0px !important

  .mat-slider-vertical
    width: 100% !important

  //<--------------------DOT PROPS-------------------->
  .mat-accent .mat-slider-thumb
    width: 0px !important
    height: 0px !important
    border: 0px !important
    transform: none !important

  //<--------------------LEVEL OF COLOR-------------------->
  .mat-slider-vertical .mat-slider-track-wrapper
    width: 100% !important
    border-radius: 20px !important

  .mat-slider-vertical .mat-slider-track-background
    width: 100% !important
    background-color: rgba(0, 0, 0, 0.63) !important

  .mat-slider-vertical .mat-slider-track-fill
    width: 100% !important
    bottom: -1px !important
    background-color: #ff8b00 !important
    border-radius: 20px !important
