<h1 id="header">Night Mode</h1>
<div id="night-mode-settings">
  <ul>
    <li>
      <div class="setting-toggle-wrapper">
        <p>NightMode toggle hour</p>
      </div>
      <label>
        <input [format]="24" [ngxTimepicker]="blindsTimePicker" [value]="nightModeToggleHour" class="timePicker"
               placeholder="Set Time">
      </label>
      <ngx-material-timepicker #blindsTimePicker
                               (timeSet)="changeValue('nightMode.toggle_hour', $event)"
                               [theme]="appTheme">
      </ngx-material-timepicker>
    </li>
    <li>
      <div class="setting-toggle-wrapper">
        <mat-checkbox
          (change)="changeValue('blinds.morning_toggle', $event.checked.toString())"
          [checked]="setBlindsUpState">
          Set blinds up
        </mat-checkbox>
      </div>
    </li>
    <li>
      <div class="setting-toggle-wrapper">
        <mat-checkbox
          (change)="changeValue('clock.morning_toggle', $event.checked.toString())"
          [checked]="toggleClockState">
          Toggle clock
        </mat-checkbox>
      </div>
    </li>
    <li>
      <div class="setting-toggle-wrapper">
        <mat-checkbox
          (change)="changeValue('door.lock_on_nightMode', $event.checked.toString())"
          [checked]="lockDoorState">
          Lock door
        </mat-checkbox>
      </div>
    </li>
    <li>
      <div class="setting-toggle-wrapper">
        <mat-checkbox
          (change)="changeValue('door.morning_screen_toggle', $event.checked.toString())"
          [checked]="toggleDoorScreenState">
          Toggle door screen
        </mat-checkbox>
      </div>
    </li>
    <li>
      <div class="setting-toggle-wrapper">
        <mat-checkbox
          (change)="changeValue('thermometer.morning_screen_toggle', $event.checked.toString())"
          [checked]="toggleThermometerScreenState">
          Toggle thermometer screen
        </mat-checkbox>
      </div>
    </li>
  </ul>
</div>
