$switch-size: calc(((80vh - 32px) / 3) + 16px)

#slider
  overflow: hidden
  position: absolute

.page
  position: relative
  height: 80vh
  width: 100vw
  text-align: center
  font-size: 100px
  transition: 50ms

.switches
  position: absolute
  height: 100vh
  left: calc((100vw - #{$switch-size}) / 2)

#sliders
  height: 80vh
  width: 100vw
  position: absolute
  display: flex

.sliderContainer
  width: 50%
  height: 63vh
  margin: 1.5% 2% 2%

#menu
  width: 100vw
  height: 20vh
  position: absolute
  top: 80vh

.menu-item
  width: calc(20vw - 8px)
  height: calc(18vh - 8px)
  position: relative
  top: 2vh
  margin: 4px
  display: inline-block
  background-color: rgba(0, 0, 0, 0.63)
  transition: 50ms
  border-radius: 10px

.icon-menu
  width: calc((20vw - 8px) * 0.8)
  height: calc((20vw - 8px) * 0.8)
  position: relative
  left: calc((20vw - 8px) * 0.1)
  top: calc((calc(18vh - 8px) - (20vw - 8px) * 0.8) / 2)
  color: rgb(255, 139, 0)

#item3
  transform: translateY(-2vh)

#page1
  left: -100vw

#page2
  top: -80vh
  left: -100vw

#page3
  top: -160vh

#page4
  top: -240vh
  left: 100vw

#page5
  top: -320vh
  left: 100vw
