<div id="wrapper">
  <div id="top">
    <iron-icon class="icon-top" icon="vaadin:cloud-o"></iron-icon>
  </div>

  <div [@fadeAnimation]="getRouterOutletState(o)" id="middle">
    <router-outlet #o="outlet"></router-outlet>
  </div>

  <div id="bottom">
    <div class="option" routerLink="/switches" routerLinkActive="active">
      <iron-icon class="option-icon" icon="vaadin:controller"></iron-icon>
      <p class="option-text">Switches</p>
    </div>
    <div class="option" routerLink="/control" routerLinkActive="active">
      <iron-icon class="option-icon" icon="vaadin:arrows"></iron-icon>
      <p class="option-text">Control</p>
    </div>
    <div class="option" routerLink="/settings" routerLinkActive="active">
      <iron-icon class="option-icon" icon="vaadin:cog"></iron-icon>
      <p class="option-text">Settings</p>
    </div>
  </div>
</div>
