<div id="wrapper">
  <div id="slider">
    <div class="page" id="page1">

    </div>
    <div class="page" id="page2">
      <div class="switches">
        <app-lock-switch></app-lock-switch>
      </div>
    </div>
    <div class="page" id="page3">
      <div class="switches">
        <app-light-switch></app-light-switch>
        <app-clock-switch></app-clock-switch>
        <app-night-mode-switch></app-night-mode-switch>
      </div>
    </div>
    <div class="page" id="page4">
      <div id="sliders">
        <div class="sliderContainer">
          <app-slider id="1"></app-slider>
        </div>
        <div class="sliderContainer">
          <app-slider id="2"></app-slider>
        </div>
      </div>
    </div>
    <div class="page" id="page5">

    </div>
  </div>

  <div id="menu">
    <div (click)="updateStates()" class="menu-item" id="item1" onClick="goToPage(1);updateStates();">
      <iron-icon [class.icon-menu]="1" icon="vaadin:music"></iron-icon>
    </div>
    <div (click)="updateStates()" class="menu-item" id="item2" onClick="goToPage(2);updateStates();">
      <iron-icon [class.icon-menu]="1" icon="vaadin:key-o"></iron-icon>
    </div>
    <div (click)="updateStates()" class="menu-item" id="item3" onClick="goToPage(3);updateStates();">
      <iron-icon [class.icon-menu]="1" icon="vaadin:lightbulb"></iron-icon>
    </div>
    <div (click)="updateStates()" class="menu-item" id="item4" onClick="goToPage(4);updateStates();">
      <iron-icon [class.icon-menu]="1" icon="vaadin:split-h"></iron-icon>
    </div>
    <div (click)="updateStates()" class="menu-item" id="item5" onClick="goToPage(5);updateStates();">
      <iron-icon [class.icon-menu]="1" icon="vaadin:cog"></iron-icon>
    </div>
  </div>
</div>
<!--ignoring video at the moment-->
