<div class="toggle-wrapper grid">
  <div class="icon-background">
    <div class="icon-wrapper">
      <iron-icon class="controller-icon" icon="vaadin:{{icon}}"></iron-icon>
    </div>
  </div>
  <mat-form-field class="level-select" appearance="fill">
    <label>
      <select matNativeControl [(ngModel)]="value" (ngModelChange)="onChange()">
        <option value="1"> 1</option>
        <option value="2"> 2</option>
        <option value="3"> 3</option>
        <option value="4"> 4</option>
        <option value="5"> 5</option>
      </select>
    </label>
  </mat-form-field>
  <div class="state-wrapper">

  </div>
</div>
