.toggle-wrapper
  background-color: inherit

#icon-background
  border-top-left-radius: 3px
  background-color: rgba(49, 51, 55, 0.7)

#icon-wrapper
  width: 90%
  height: 90%
  position: relative
  top: 5%
  left: 5%
  border-radius: 100%
  background-color: black

#info-wrapper
  border-bottom-left-radius: 3px
  background-color: rgba(49, 51, 55, 0.7)

#arrow-up-wrapper
  border-top-right-radius: 3px
  background-color: rgba(49, 51, 55, 0.7)

#arrow-up-wrapper:active
  transition: 80ms
  transition-timing-function: ease-in-out
  background-color: rgba(49, 51, 55, 0.5)

#arrow-down-wrapper
  border-bottom-right-radius: 3px
  background-color: rgba(49, 51, 55, 0.7)

#arrow-down-wrapper:active
  transition: 80ms
  transition-timing-function: ease-in-out
  background-color: rgba(49, 51, 55, 0.5)

.controller-icon
  width: 40%
  height: 40%
  position: absolute
  top: 30%
  left: 30%
  color: #ff8b00
  opacity: 100%

.arrow-icon
  width: 40%
  height: 40%
  position: relative
  top: 30%

p
  color: #e0e0e0
