<div class="toggle-wrapper grid">
  <div id="icon-background">
    <div id="icon-wrapper">
      <iron-icon class="controller-icon" icon="vaadin:{{icon}}"></iron-icon>
    </div>
  </div>
  <div (click)="goUp()" id="arrow-up-wrapper">
    <iron-icon class="arrow-icon" icon="vaadin:chevron-up"></iron-icon>
  </div>
  <div id="info-wrapper">
    <p>{{type}}({{id}})</p>
    <p>Pos: {{position}}</p>
  </div>
  <div (click)="goDown()" id="arrow-down-wrapper">
    <iron-icon class="arrow-icon" icon="vaadin:chevron-down"></iron-icon>
  </div>
</div>
